/* @Two&HalfDevs */

/*
  Previous update: June 8, 2019
  Last update: June 9, 2019
*/

@font-face {
  font-family: 'Indie Flower';
  src: url('./IndieFlower.ttf');
}

/* latin-ext */
@font-face {
  font-family: 'Clicker Script';
  font-style: normal;
  font-weight: 400;
  src: url('./ClickerScript-Regular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  height: 100%;
  width: 100%;
  color: white;
}

body {
  width: 100%;
  height: 100%;
}

a {
  color: red;
}

center {
  display: table;
  height: 100%;
  width: 100%;
}

#gameFrame {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  border: none;
}

.hidden {
  display: none;
}

.wip {
  color: red;
}

#fullscreenWrapper {
  width: fit-content;
}

#menuWrapper {
  position: fixed;
  top: 2rem;
  width: fit-content;
  margin-left: .8rem;
  z-index: 11;
}

#menuButton {
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  color: red;
  background-color: #464f58;
  border: solid 2px #333b42bd;
}

#menuButton:hover {
  background-color: #333b42bd;
  border-color: #464f58;
}

#menu {
  margin-left: 1.5rem;
}

.menuItem {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

#vCenter {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

#introHeader {
  position: relative;
  font-weight: normal;
  font-size: 2.5rem;
  width: fit-content;
}

#studioName {
  color: red;
  font-weight: bold;
}

.fraction {
  font-size: 1rem;
  color: red;
}

#teamPlayers {
  color: red;
  margin-top: 2rem;
}

#devs {
  font-weight: bold;
  font-size: 1.15rem;
  text-align: justify;
  color: white;
  width: fit-content;
}

#worstBoy {
  color: royalblue;
}

#worstBoyLN {
  color: midnightblue;
}

#bestGirl {
  color: fuchsia;
  font-size: 1.2rem;
  font-family: 'Indie Flower';
}

#bestGirlLN {
  color: deepPink;
}

#allan {
  color: darkgreen;
}

#allanLN {
  color: olivedrab;
}

#dani {
  color: turquoise;
}

#daniLN {
  color: teal;
}

#sophie {
  font-family: 'Clicker Script';
  color: orchid;
  font-size: 1.5rem;
}

#sophieLN {
  color: DarkViolet;
}

#callum {
  color: OrangeRed;
}

#callumLN {
  color: chocolate;
}

#tapSomeone {
  display: none;
}

#aboutUs {
  max-width: 40%;
  font-size: larger;
}

#certificate {
  position: relative;
  bottom: 140px;
  float: right;
  right: 20px;
}