/* @Two&HalfDevs */

/*
  Previous update: May 31, 2019
  Last update: June 1, 2019
*/

@font-face {
  font-family: 'Indie Flower';
  src: url('./IndieFlower.ttf');
}

/* latin-ext */
@font-face {
  font-family: 'Clicker Script';
  font-style: normal;
  font-weight: 400;
  src: url('./ClickerScript-Regular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  height: 100%;
  width: 100%;
  color: white;
}

body {
  width: 100%
}

a {
  color: red;
}

#gameFrame {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  border: none;
}

.hidden {
  display: none;
}

.wip {
  color: red;
}

#menuWrapper {
  position: fixed;
  top: 2rem;
  width: fit-content;
  margin-left: .8rem;
  z-index: 11;
}

#menuButton {
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  color: red;
}

#menu {
  list-style: none;
  margin-left: 1rem;
}

.menuItem {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

#introHeader {
  position: relative;
  margin-top: 4rem;
  font-weight: normal;
  width: fit-content;
}

#studioName {
  color: red;
  font-weight: bold;
}

.fraction {
  font-size: 1rem;
  color: red;
}

#devs {
  font-weight: bold;
  font-size: 1.15rem;
  text-align: justify;
  color: white;
}

#worstBoy {
  color: royalblue;
}

#worstBoyLN {
  color: midnightblue;
}

#bestGirl {
  color: fuchsia;
  font-size: 1.2rem;
  font-family: 'Indie Flower';
}

#bestGirlLN {
  color: deepPink;
}

#allan {
  color: darkgreen;
}

#allanLN {
  color: olivedrab;
}

#dani {
  color: turquoise;
}

#daniLN {
  color: teal;
}

#sophie {
  font-family: 'Clicker Script';
  color: orchid;
  font-size: 1.5rem;
}

#sophieLN {
  color: DarkViolet;
}

#callum {
  color: OrangeRed;
}

#callumLN {
  color: chocolate;
}